#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  @media (max-width: 375px) {
    padding: 1rem;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator_container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  .calculator {
    .operators {
      display: flex;
      align-items: stretch;

      button {
        flex: 1;
      }
    }

    .digits {
      display: flex;
      flex-wrap: wrap;

      button {
        flex: 1 1 33.333%;
        max-width: 33.333%;
      }
    }
  }
}
